 <!-- 5-screen -->
 <div class="bdf">
    <img src="../../assets/thumb_digital-lync-online-training.png ">
    

       <a href="#" style="position: relative;margin-left: 700px;top:20px;font: normal normal bold 22px/26px Ubuntu;
       letter-spacing: 0px;
       color: #4D4D4D;">My class Room</a>

     <img src="../../assets/bellicon.png" style="margin-left: 1280px;height:25px;width:25px;position:relative;bottom:60px;" >
    <img src="../../assets/user.png" style="margin-left: 1400px;height:25px;width:25px;position:relative;bottom:105px;"> 

<hr style="position: relative;bottom:40px">

<div style="background-color: whitesmoke;width:1300px;height:400px;margin-left: 100px;border:2px solid white;box-shadow: 0px 0px 10px #44444430;">
    <img src="../../assets/aws1.jpg" style="height:150px;width:280px;">
    <p id="wel">AWS <br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam <br>
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
<button>Continue<img src="../../assets/arrow-right.svg"   style="position:relative;width:25px;height:20px;bottom:10px"></button>
<!-- </div>  -->
<br>
<br>
<!-- <div style="background-color: whitesmoke;width:1300px;height:400px;margin-left: 100px;border:2px solid white;box-shadow: 0px 0px 10px #44444430;"> -->
    <img src="../../assets/python.jpg" style="height:150px;width:280px;position:relative;bottom:140px;">
    <p id="wel1">Python <br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam <br>
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
<button class="cdn">Continue<img src="../../assets/arrow-right.svg"   style="position:relative;width:25px;height:20px;bottom:10px"></button> 
</div> 
<br>
<p style="position: relative;top:100px;margin-left: 380px;font: normal normal normal 28px/42px Arial;
letter-spacing: 0px;
color: #000000;">© Digital Lync 2020</p>
<p style="position: relative;top:40px;margin-left: 900px;font: normal normal normal 28px/42px Arial;
letter-spacing: 0px;
color: #000000;">Privacy Policy</p>
</div>