<div class="abc">


    <img src="../../assets/thumb_digital-lync-online-training.png" class="pnd">
    <ul style="list-style-type: none;" >
    
        <li style="margin-left: 1100px;" 
        ><a href="https://www.classromm" style="font-size: 20px;color:black;position:relative;bottom:40px;">My class Room</a></li>
         <li><img src="../../assets/bellicon.png" width="30px" height="30" class="dng"></li>
        <li><img src="../../assets/user.png" width="30" height="30" class="amd"></li> 
    </ul>
    <hr style="position:relative;bottom:50px;">
    
    <div class="dp">
        <p style="margin-left:20px;position:relative;top:20px;color: #444444;font: normal normal normal 28px/32px Poppins;
    
        ">Edit Profile</p>
        <p style="margin-left:20px;position:relative;top:40px;
        color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Change Password</p>
        <p style="margin-left:20px;position:relative;top:60px;color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Invoices</p>
        <p style="margin-left:20px;position:relative;top:80px;color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Certificate</p>
    
    </div>
    
    <div style="background-color: white;margin-left:600px;width:800px;height:600px;position:relative;bottom:270px;">
        <img src="../../assets/aws1.jpg " width="250px" height="150px" class="aw">
        <p style="font: normal normal normal 28px/42px Poppins;
        letter-spacing: 0px;
        color: #555555;position:relative;margin-left: 380px;bottom:140px;">AWS</p>
        <p style="font: normal normal medium 28px/37px IBM Plex Sans;
        letter-spacing: 0px;
        color: #555555;position:relative;margin-left:600px;bottom:00px;">100% Course Completed</p>
        <ul style="list-style-type: none;margin-left: 300px;">
            <li><a href="https://www.downloadcertificate.com" style="position:relative;bottom:80px">Download Certificate</a></li>
            <li><a href="https://www.verifycertificate.com">Verify Certificate</a></li>

        </ul>
        
    
    </div>
    




    <img src="../../assets/Layer 2.svg" width="200" height="200" class="cd">
    
    </div>