.abc{
    position:relative;
    width:1600px;
    height:900px;
    background-color: whitesmoke;
    margin-left: 80px;
    top:30px;

}

.pnd{
    margin-left: 80px;
    position:relative;
    top:40px;
}
.dng{
    margin-left: 1300px;
    position: relative;
    bottom: 70px;
    /* margin-left:1300px; */
}
.amd{
    margin-left:1400px;
    position:relative;
    bottom:100px;
    
}

.dp{
    margin-left:100px;
    width:260px;
    height:270px;
    background-color: white;
}
.cd{
    position: relative;
    bottom:270px;
    margin-left:90px;

}

/* a{
    position:relative;
    margin-left:490px;
    bottom:170px;
} */
.aaa{
    position:relative;
    bottom:90px;
    margin-left: 40px;
    width:200px;
}
.asd{
    font: normal normal normal 28px/42px Poppins;
    letter-spacing: 0px;
    color: #000000;position:relative;margin-left: 250px;bottom:170px;
}
.cdn{
    position:relative;margin-left: 500px;bottom:270px;
    font: normal normal medium 28px/37px IBM Plex Sans;
    letter-spacing: 0px;
    color: #555555;
}
.dis{
    position:relative;margin-left: 400px;position:relative;bottom:290px;
      font: normal normal medium 28px/37px IBM Plex Sans;
      letter-spacing: 0px;
      color: #555555;
}