<div class="abc">


    <img src="../../assets/thumb_digital-lync-online-training.png" class="pnd">
    <ul style="list-style-type: none;" >
    
        <li style="margin-left: 1100px;" 
        ><a href="https://www.classromm" style="font-size: 20px;color:black;position:relative;bottom:40px;">My class Room</a></li>
         <li><img src="../../assets/bellicon.png" width="30px" height="30" class="dng"></li>
        <li><img src="../../assets/user.png" width="30" height="30" class="amd"></li> 
    </ul>
    <hr style="position:relative;bottom:50px;">
    
    <div class="dp">
        <p style="margin-left:20px;position:relative;top:20px;color: #444444;font: normal normal normal 28px/32px Poppins;
    
        ">Edit Profile</p>
        <p style="margin-left:20px;position:relative;top:40px;
        color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Change Password</p>
        <p style="margin-left:20px;position:relative;top:60px;color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Invoices</p>
        <p style="margin-left:20px;position:relative;top:80px;color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Certificate</p>
    
    </div>
    
    <div style="background-color: white;margin-left:800px;width:700px;height:400px;position:relative;bottom:270px;">
      <img src="../../assets/aws1.jpg" width="200px" style="position:relative;margin-left:40px;top:40px">
      <p style="text-align: left;
      font: normal normal normal 28px/42px Poppins;
      letter-spacing: 0px;
      color: #000000;position:relative;margin-left: 250px;bottom:40px;">AWS</p>
      <p style="position:relative;margin-left: 500px;bottom:130px;text-align: left;
      font: normal normal medium 28px/37px IBM Plex Sans;
      letter-spacing: 0px;
      color: #555555;">Date: 05/05/2020</p><br><br>
      <p style="position:relative;margin-left: 400px;position:relative;bottom:170px;
      font: normal normal medium 28px/37px IBM Plex Sans;
      letter-spacing: 0px;
      color: #555555;">Total Amount Payed : ₹ 34,999.00</p>
      <a href="https://www.download.com" style="position:relative;
      margin-left:490px;
      bottom:170px;">DOWNLOAD INVOICE</a>
      <hr style="position:relative;bottom:120px;">

      <img src="../../assets/python.jpg" width="200px" class="aaa">
      <p  class="asd"
     
      >Python</p>
      <p  class="cdn" 
     
      >Date: 05/05/2020</p><br><br>
      <p  class="dis" 
      
      >Total Amount Payed : ₹ 34,999.00</p>
      <a href="https://www.download.com" style="position:relative;margin-left:500px;bottom:300px;">DOWNLOAD INVOICE</a>

    
    </div>
    
    <img src="../../assets/Layer 2.svg" width="200" height="200" class="cd">
    
    </div>