<div class="amd">
    <img src="../../assets/thumb_digital-lync-online-training.png"style="width:300px;height:80px;position:relative;margin-left:20px;top:20px;">
    <ul style="list-style-type:none;">
        <li style="margin-left: 750px;position:relative;bottom:23px;font: normal normal bold 22px/26px Ubuntu;"><a href="https://www.myclassroom.com" style="color:black">my class room</a></li>
            <li style="margin-left: 1000px;position:relative;bottom:45px;"><img src="../../assets/bellicon.png" width="25"height="26"/></li>
            <li style="margin-left: 1100px;position:relative;bottom:76px;"><img src="../../assets/user.png" width="25"height="26"/></li> 
    </ul>
    <div class="cmd">
       <h1 style="position:relative;top:20px;margin-left: 40px;">Your Upcoming Class at 28-04-20 IST 5:30pm</h1>
       <button class="sss">Join Class</button>
    </div>
    <br>

    <br>

    <p class="ddd">Assisments</p>

    <hr>

    <p style="font: normal normal normal 28px/52px Ubuntu;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;margin-left:80px;">Results</p>
    <br><br>
    <p style="margin-left:80px;position:relative;bottom:60px;font-size: 40px;">Question 1:
        <br>
         A front-end developer works with languages and framework</p>
         <br>
         <p style="margin-left:80px;position:relative;bottom:80px;font-size:20px;">HTML,CSS and JavaScript</p>
    <hr style="position:relative;bottom:30px;">
    <p style="margin-left:80px;position:relative;font-size: 40px;bottom:20px;">Question 2:
        <br>
         A front-end developer works with languages and framework
        </p>
         <br>
         <p style="margin-left:80px;position:relative;font-size:20px;bottom:20px;">HTML,CSS and JavaScript</p>
         <p style="margin-left:80px;position:relative;font-size:20px;bottom:20px;">HTML,CSS and BootStrap</p>

    <p style="margin-left: 800px;position:relative;font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #6F6F6F;
    opacity: 1;;">I'll Try it later</p>
    <button style="font: normal normal bold 28px/32px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #097BDF;
    margin-left: 1000px;
    position:relative;
    bottom:50px;
    opacity: 1;">Retry Again</button>

<ul style="list-style-type: none;margin-left:30px;font: normal normal normal 28px/32px Poppins;
letter-spacing: 0px;
color: #484848;">
    <li> Course Info</li>
    <li style="margin-left: 200px;position:relative;bottom:35px;">Resources</li>
    <li style="margin-left: 390px;position:relative;bottom:65px;">Assisments</li>
    <li style="margin-left: 570px;position:relative;bottom:97px;">Projects</li>
    <li style="margin-left: 740px;position:relative;bottom:129px;">Discuss</li>
    <li style="margin-left: 890px;position:relative;bottom:159px;">Feedback</li>
</ul>
<hr style="position:relative;bottom:120px;">

<ul style="list-style-type: none;margin-left:20px;position:relative;bottom:70px;">

    <li style="font: normal normal bold 28px/32px Ubuntu;
    letter-spacing: 0px;
    color: #757575;">
        About This Course
        
    </li><br><br>
   
    <li>Course Name: UI/UX</li>
    <li>Start Course: 28-04-2020</li>
    <li>Duration: 20hr</li>
    <li>Modules: 10</li>
    <li>Prerequisities: No</li>
    <li>Skill Level: Beginner</li>
</ul>
    


    </div>