<div>
    <ul style="list-style-type:none;">
        <li>

    <img src="../../assets/thumb_digital-lync-online-training.png" style="height:70px;width:110px;margin-left: 40px;position:relative;top:30px;">

    </li>

    <li><a href="#">my class room</a></li>
    <li><img src="../../assets/bellicon.png" class="img1"></li>
    <li><img src="../../assets/user.png" class="img2"></li>
</ul>
</div>

<div style="position: relative;bottom:30px;">
    <h1>Your Upcoming Class at 28-04-20 IST 5:30pm</h1>
    <button>Join Class</button>
</div>

<div>
<p>Recorded Class</p>
</div>
<div style="
background: #FFFFFF 0% 0% no-repeat padding-box;">

    <ul style="list-style-type:none;position:relative;bottom:70px;margin-left: 40px;">
        <li>Module 1: UI Design</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
    </ul>
    <ul style="list-style-type:none; position:relative;bottom:80px;margin-left: 40px;">
        <li style="background: #F9F9F9 ">Module 2: UI Design</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
        <li>1. Lorem ipsum dolor sit amet, consetetur</li>
      </ul>
      <ul style="list-style-type:none; margin-left: 40px;position:relative;bottom:90px;">
          <li style="color: #000000;
          ">Module 2: UI Design</li>
          <li style="color: #000000;
          ">Module 2: UI Design</li>

      </ul>

      <img src="../../assets/video.png" class="vid">

</div>
<ul class="pdn">
    <li>Courses Info</li>
    <li class="lm">Resources</li>
    <li class="lm1">Assignments</li>
    <li class="lm2">Projects</li>
    <li class="lm3">Discuss</li>
    <li class="lm4">Feedback</li>
</ul>
<hr class="sd">

<img src="../../assets/user.png" style="position: relative;margin-left: 80px;bottom:440px;">
<p id="as">Write a Reply</p>
<hr style="margin-left: 90px;position:relative;bottom: 440px;">
<p style="margin-left: 40px;position:relative;bottom:440px;">30 Replys</p><br>
<img src="../../assets/user.png" class="mn">
<p id="im">Ankit</p><br>
<p class="asd">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
    <br>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
<br><br>
<img src="../../assets/user.png" class="mn">

    <p id="im">Suresh</p><br>
<p class="asd">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
    <br>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

    <hr style="position:relative;bottom:490px;">
<br>
<img src="../../assets/user.png" class="pnf">
<p style="margin-left: 100px;bottom:540px;">How To Upload file in AWS
<br><br>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
<br>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero <br>
eos et accusam et justo duo dolores et ea rebum.</p><br>
<br>

<!-- <button style="background-color: #E6BF02;position:relative;width:150px;bottom:600px;border-radius: 38px;border:2px solid #E6BF02">Have a doubt? Rise a query</button> -->
<button class="btn">Have a doubt? Rise a query</button>