 <!-- <app-header></app-header> -->
 <!-- <app-screen2></app-screen2> -->
<!-- <app-screen4></app-screen4> -->
 <!-- app-adul-kabeer is 5th screen -->
 <!-- <app-adul-kabeer></app-adul-kabeer>  -->
 <!-- <app-screen6></app-screen6> -->
 <!-- <app-screen7></app-screen7> -->
<!-- <app-resetpass></app-resetpass> -->
<!-- <app-screen9></app-screen9> -->
<!-- <app-screen10></app-screen10> -->
 <!-- <app-certi></app-certi> -->
 <!-- <app-order></app-order> -->
 <!-- <app-checkmail></app-checkmail> -->
 <!-- <app-screen14></app-screen14> -->
 <!-- <app-screen15></app-screen15> -->
 <!-- <app-screen16></app-screen16> -->
 <!-- <app-screen17></app-screen17> -->
 <app-screen18></app-screen18>
 <!-- <app-changephoto></app-changephoto> -->

 <!-- <app-screen20></app-screen20> -->
 <!-- <app-screen21></app-screen21> -->
 <!-- <app-screen22></app-screen22> -->
 <!-- <app-screen23></app-screen23> -->
 <!-- <app-resetpass></app-resetpass> -->
 <!-- <app-screen25></app-screen25>  -->
 <!-- <app-screen26></app-screen26> -->
 <!-- <app-screen27></app-screen27> -->
 <!-- <app-screen28></app-screen28> -->
 <!-- <app-screen29></app-screen29> -->