
.amd{
    position: fixed;
    position: relative;
    top: 20px;
    width: 1400px;
    height: 1600px;
    margin-left: 100px;
    background:white 0% 0% no-repeat padding-box;
    }
    
    .cmd{
        background-color:#EBF3FE ;
    }
    
.sss{
position:relative;
bottom:20px;
margin-left: 900px;
width:150px;
height:50px;
background: #4285F2 0% 0% no-repeat padding-box;
opacity: 1;
font: normal normal bold 22px/26px Ubuntu;
letter-spacing: 0px;
color: #FFFFFF;
}
    .ddd{
        margin-left: 80px;
        font: normal normal normal 32px/32px Poppins;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
    
    }

    input[type=text] {
        /* height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block; */

     width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box; 
        border: 1px solid #707070;
        top: 20px;
left: 40px;
width: 800px;
height: 53px;

      }

    a{
          position:relative;
          margin-left: 1100px;;
          font: normal normal bold 28px/32px Poppins;
letter-spacing: 0px;
color: #097BDF;
bottom:50px
      }
