<div class="cd">
<img src="../../assets/thumb_digital-lync-online-training.png" style="margin-left: 500px;;">

<div class="sd">
    <p style="font: normal normal medium 32px/32px Ubuntu;
    letter-spacing: 0.64px;
    color: #FFFFFF;position:relative;top:10px;margin-left: 30px;">ORDER DETAILS</p>

</div>

<div class="dd">

    <div style="background-color:#F5F5F5 ;position:relative;top:30px;margin-left:30px;width:900px;height: 50px;">
        <p style="margin-left:180px;position:relative;top:10px;">COURSE</p>
        <p style="margin-left: 600px;position: relative;bottom:25px;">PRICE</p>


    </div>

    <img src="../../assets/aws1.jpg" width="180px" height="90px" style="position:relative;top:60px;margin-left: 60px;">
    <p style="font: normal normal normal 25px/29px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;position:relative;margin-left: 280px;;">AWS</p>
    <p style="font: normal normal normal 28px/42px Poppins;
    letter-spacing: 0px;
    color: #464646;position:relative;margin-left:600px;bottom:50px">₹ 34,999.00</p>
    <hr>
    <p style="font: normal normal normal 28px/42px Poppins;
    letter-spacing: 0px;
    color: #464646;position:relative;margin-left:600px;bottom:10px">Total : ₹ 34,999.00</p>


<br>
<br>
<p style="font: normal normal normal 28px/42px Poppins;
letter-spacing: 0px;
color: #464646;position:relative;margin-left:600px;bottom:10px">Grand Total: ₹ 34,999.00</p>
<button style="background-color: #4285F2 ;font: normal normal normal 26px/32px Ubuntu;
letter-spacing: 0.52px;
color: #FFFFFF;position:relative;margin-left:600px;border:2px solid #4285F2">PROCEED FOR PAYMENT</button>


</div>

</div>