<div class="abc">


    <img src="../../assets/thumb_digital-lync-online-training.png" class="pnd">
    <ul style="list-style-type: none;" >
    
        <li style="margin-left: 1100px;" 
        ><a href="https://www.classromm" style="font-size: 20px;color:black;position:relative;bottom:40px;">My class Room</a></li>
         <li><img src="../../assets/bellicon.png" width="30px" height="30" class="dng"></li>
        <li><img src="../../assets/user.png" width="30" height="30" class="amd"></li> 
    </ul>
    <hr style="position:relative;bottom:50px;">
    
    <div class="dp">
        <p style="margin-left:20px;position:relative;top:20px;color: #444444;font: normal normal normal 28px/32px Poppins;
    
        ">Edit Profile</p>
        <p style="margin-left:20px;position:relative;top:40px;
        color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Change Password</p>
        <p style="margin-left:20px;position:relative;top:60px;color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Invoices</p>
        <p style="margin-left:20px;position:relative;top:80px;color: #444444;font: normal normal normal 28px/32px Poppins;
        ">Certificate</p>
    
    </div>
    
    <div style="background-color: white;margin-left:800px;width:600px;height:400px;position:relative;bottom:270px;">
        
        <h2 style="text-align:center;font: normal normal medium 29px/29px Poppins;
        letter-spacing: 0.58px;
        color: #5D5D5D;position: relative;top:20px;">VERIFY CERTIFICATE</h2>
        <br><br><br>
        
        <form>
            <input type="text" placeholder ="Your Text"><br><br>
            <input type="text" placeholder ="Enter Text">
                     <br><br><br><br>

        <!-- <input type="text" placeholder="Old Password"><br><br>
        <input type="text" placeholder="New Password"><br><br>
        <input type="text" placeholder="Confirm Password"><br><br><br><br>--->
    
        <button style="background: #4285F2 0% 0% no-repeat padding-box;margin-left: 250px;font: normal normal normal 26px/32px Poppins;
        letter-spacing: 0.52px;
        color: #FFFFFF;border:2px solid #4285F2;
        opacity: 1;">Verify</button>
    
    
    </form>
    </div>
    
    <img src="../../assets/Layer 2.svg" width="200" height="200" class="cd">
    
    </div>