<div class="cmd">
    <img src="../../assets/thumb_digital-lync-online-training.png" class="cd">
    <a href="https://myclassroom.com">My Class Room</a>
    <img src="../../assets/bellicon.png" class="dnd">
    <img src="../../assets/user.png" class="dl">
    <div class="sss">
        <img src="../../assets/clock-time (1).svg" width="50" style="margin-left: 80px;">
        <p style="margin-left: 150px;position:relative;bottom:30px;font: normal normal normal 32px/32px Poppins;
        letter-spacing: 0px;
        color: #656565;">Your Upcoming Class at 28-04-20 IST 5:30pm</p>
        <button class="sai">Join Class</button>
        <div style="margin-left: 940px;background-color:#F2F2F2;position:relative;width:360px;height:100px;bottom:140px">
            <p style="font: normal normal normal 28px/32px Poppins;
            letter-spacing: 0px;
            color: #4D4D4D;">My Profile</p>

            <hr>
            <p style="font: normal normal normal 28px/32px Poppins;
            letter-spacing: 0px;
            color: #4D4D4D;">Sign Out</p>


        </div>
    
    </div>
    
    <p style="font: normal normal normal 24px/32px Poppins;
    letter-spacing: 0px;
    color: #1D1D1D;margin-left: 60px;">Recorded Classes</p><br>
    <div class=
    "ang">
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px">Module 1: UI Design</p>
    <ul style="list-style-type: none;">
    <li><img src="../../assets/tickmark.png" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
        <li><img src="../../assets/tickmark.png" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
            letter-spacing: 0px;
            color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
            <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
                letter-spacing: 0px;
                color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
                <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
    </ul>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;background-color: #F9F9F9 ">Module 2: UI Design</p>
    <ul style="list-style-type: none;">
    <li ><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191; 
    
        ">1. Lorem ipsum dolor sit amet, consetetur</li>
    
        <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
            letter-spacing: 0px;
            color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
            <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
                letter-spacing: 0px;
                color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
                <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
    </ul>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;background-color: #F9F9F9 ">Module 2: UI Design</p>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;background-color: #F9F9F9 ">Module 2: UI Design</p>
    </div>
    <img src="../../assets/video.png"class="dn">
    
    <ul style="list-style-type: none;position:relative;bottom:100px;">
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;bottom:220px;">Course Info</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:210px;bottom:250px;">Resources</li>
        <li style=" font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:380px;bottom:285px;">Assignments</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:580px;bottom:320px;">Projects</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:740px;bottom:350px;">Discuss</li>
          
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:890px;bottom:400px;">Feedback</li>
    </ul>    
    <hr  style="position:relative;bottom:450px;">
<!-- <hr style="position:relative;bottom:470px;"> -->

    
   <img src="../../assets/user.png" width="60px" height="40px" class="cdn">
   
   <input type="text" value="start Discussion" width="100%" style="margin-left:40px;position:relative;font: normal normal 300 22px/32px Poppins;
   letter-spacing: 0px;
   color: #4C4C4C;bottom:400px;">
   <br>
   <br><br>
   <img src="../../assets/user.png" width="60px" height="40px" class="cdn">
   
   <input type="text" value="How To Upload file in AWS 
   " width="100%" style="margin-left:40px;position:relative;font: normal normal 300 22px/32px Poppins;
   letter-spacing: 0px;
   color: #4C4C4C;bottom:400px;"><br><br><br>
     <img src="../../assets/user.png" width="60px" height="40px" class="cdn">

  <input type="text" value="How To Upload file in AWS " 
   width="100%" style="margin-left:40px;position:relative;font: normal normal 300 22px/32px Poppins;
  letter-spacing: 0px;
  color: #4C4C4C;bottom:400px;">

    
</div>