<div class="mail" style="background-image: url('../../assets/Group\ 886.svg');">
    <img src="../../assets/thumb_digital-lync-online-training.png" class="cdn">

    <div class="amd">
        <h1 style="text-align: center;position: relative;top:60px;font: normal normal medium 32px/32px Poppins;
        letter-spacing: 0.64px;
        color: #5D5D5D;
        ;">RESET YOUR PASSWORD</h1>
        <br>
        <br><br>
        <form>
            <input type="text" placeholder ="NEW PASSWORD"><br><br>
            <input type="text" placeholder ="CONFIRM PASSWORD"><br>
                     <br><br><br><br>
                     <button style="background: #4285F2 ;margin-left: 320px;width:120px;height:40px;">SUBMIT</button>
                     </form>
        <!--<p style="margin-left: 50px;color: #515151;position:relative;top:40px;font-size: 25px;
        ">An email with password reset instructions has been sent to<br></p>
             <p style=text-align:center;position:relative;top:40px;font-size:25px;color:#515151; 
             >our email address</p> -->

    </div>

</div>