
<div class="cdn">
    <img src="../../assets/thumb_digital-lync-online-training.png" style="margin-left:40px;margin-top: 20px;height:50px;width:190px"> 

    <ul style="list-style-type:none;">
        <li style="margin-left: 380px;position:relative;bottom:34px;">
            courses
        </li>
        <li style="margin-left: 470px;position:relative;bottom:58px;">Programs</li>
        <li style="margin-left: 580px;position: relative;bottom:83px;">Contact Us</li>
        

    
<button style="position:relative;
margin-left: 700px;
border-radius: 45px;
bottom:110px;
border:2px solid #FFCA1A;
width: 180px;
background: #FFCA1A 0% 0% no-repeat padding-box;


">Get Trained</button>
</ul>
    
</div>