<div class="cmd">
    <img src="../../assets/thumb_digital-lync-online-training.png" class="cd">
    <a href="https://myclassroom.com">My Class Room</a>
    <img src="../../assets/bellicon.png" class="dnd">
    <img src="../../assets/user.png" class="dl">
    <div class="sss">
        <img src="../../assets/clock-time (1).svg" width="50" style="margin-left: 80px;">
        <p style="margin-left: 150px;position:relative;bottom:30px;font: normal normal normal 32px/32px Poppins;
        letter-spacing: 0px;
        color: #656565;">Your Upcoming Class at 28-04-20 IST 5:30pm</p>
        <button class="sai">Join Class</button>
    
    </div>
    
    <p style="font: normal normal normal 24px/32px Poppins;
    letter-spacing: 0px;
    color: #1D1D1D;margin-left: 60px;">Recorded Classes</p><br>
    <div class=
    "ang">
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px">Module 1: UI Design</p>
    <ul style="list-style-type: none;">
    <li><img src="../../assets/tickmark.png" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
        <li><img src="../../assets/tickmark.png" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
            letter-spacing: 0px;
            color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
            <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
                letter-spacing: 0px;
                color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
                <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
    </ul>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;background-color: #F9F9F9 ">Module 2: UI Design</p>
    <ul style="list-style-type: none;">
    <li ><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191; 
    
        ">1. Lorem ipsum dolor sit amet, consetetur</li>
    
        <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
            letter-spacing: 0px;
            color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
            <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
                letter-spacing: 0px;
                color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
                <li><img src="../../assets/chevron-right-circle.svg" width="30px"height="20px" style="font: normal normal normal 22px/32px Poppins;
        letter-spacing: 0px;
        color: #919191;">1. Lorem ipsum dolor sit amet, consetetur</li>
    </ul>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;background-color: #F9F9F9 ">Module 2: UI Design</p>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;background-color: #F9F9F9 ">Module 2: UI Design</p>
    </div>
    <img src="../../assets/video.png"class="dn">
    
    <ul style="list-style-type: none;position:relative;bottom:100px;">
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;bottom:220px;">Course Info</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:210px;bottom:250px;">Resources</li>
        <li style=" font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:380px;bottom:285px;">Assignments</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:580px;bottom:320px;">Projects</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:740px;bottom:350px;">Discuss</li>
        <li style="font: normal normal normal 28px/32px Poppins;
        letter-spacing: 0px;
        color: #2E2E2E;position:relative;margin-left:890px;bottom:370px;">Feedback</li>
    </ul>
    <hr style="position:relative;bottom:450px">
<input type="text" value="HTML Source Code" style="font: normal normal normal 22px/32px IBM Plex Sans;
letter-spacing: 0px;
color: #555555;width:50%;position:relative;bottom:400px;margin-left: 40px;">
<p style="font: normal normal normal 22px/32px IBM Plex Sans;
letter-spacing: 0px;
color: #555555;margin-left: 490px;position:relative;bottom:430px;">Download File</p>
<img src="../../assets/arrow-down-square (1).svg" style="margin-left: 650px;position:relative;bottom:480px;width:30px;height:30px;">
    <p style="font: normal normal normal 22px/32px IBM Plex Sans;
    letter-spacing: 0px;
    color: #555555;position:relative;margin-left:40px;bottom:450px;">CSS Git Hub Link</p>
     <p style="font: normal normal normal 22px/32px IBM Plex Sans;
     letter-spacing: 0px;
     color: #555555;position:relative;margin-left:440px;bottom:490px;">www.github.com/osacad/css-code</p>
     <input type="text" value="JavaScript Source Code" style="font: normal normal normal 22px/32px IBM Plex Sans;
     letter-spacing: 0px;
     color: #555555;width:50%;position:relative;bottom:400px;margin-left: 40px;">
     <p style="font: normal normal normal 22px/32px IBM Plex Sans;
     letter-spacing: 0px;
     color: #555555;margin-left: 490px;position:relative;bottom:430px;">Download File</p>
     <img src="../../assets/arrow-down-square (1).svg" style="margin-left: 650px;position:relative;bottom:480px;width:30px;height:30px;">
         <p style="font: normal normal normal 22px/32px IBM Plex Sans;
         letter-spacing: 0px;
         color: #555555;position:relative;margin-left:40px;bottom:450px;">CSS Git Hub Link</p>
          <p style="font: normal normal normal 22px/32px IBM Plex Sans;
          letter-spacing: 0px;
          color: #555555;position:relative;margin-left:440px;bottom:490px;">www.github.com/osacad/css-code</p>
     
</div>