<div class="amd">
<img src="../../assets/thumb_digital-lync-online-training.png"style="width:200px;height:80px;position:relative;margin-left:40px;top:10px;">
<ul style="list-style-type:none;">
    <li style="margin-left: 830px;position:relative;bottom:33px;font: normal normal bold 22px/33px Poppins;
    letter-spacing: 0px;
    color: #555555;"><a href="https://www.myclassroom.com" style="color:black">my class room</a></li>
        <li style="margin-left: 1000px;position:relative;bottom:65px;"><img src="../../assets/bellicon.png" width="25"height="20"/></li>
        <li style="margin-left: 1100px;position:relative;bottom:90px;"><img src="../../assets/user.png" width="25"height="20"/></li>
</ul>

<hr style="position:relative;bottom:70px;">

<div class="jdj">
    <ul style="list-style-type:none;font-size: 20px;margin-left: -22px;position:relative;top:20px;color:black">
        <li>
            Edit Profile
        </li><br>
        <li>Change Password</li><br>
        <li>Invoices</li><br>
        <li>Certificate</li><br>
    </ul>
</div>

<img src="../../assets/Layer 2.svg" width="200px" height="220px" class="asd">

<div style="background-color:white;width:50%;height:60%;margin-left:470px;position:relative;bottom:550px">
<img src="../../assets/user.png" class="cd">
<p style="margin-left:120px;font: normal normal normal 28px/32px Poppins;
letter-spacing: 0px;
position:relative;
bottom:50px;
color: #555555;">Change photo
</p>
<form>
<input type="text" value="Full Name" ><br>
<input type="text" value="User Name" ><br>
<input type="text" value="Email" ><br>
<input type="text" value="Phone" ><br>
<input type="text" value="Location" ><br><br><br>
<p  style="font: normal normal normal 26px/32px Poppins;margin-left:40px;">Gender</p>

<input type="radio" id="html" name="fav_language" value="Male" style="margin-left: 160px;position: relative;bottom:45px">
  <label for="html" style="position:relative;bottom:45px;font: normal normal normal 26px/32px Poppins;
letter-spacing: 0.52px;
color: #797979;">Male</label><br>
  <input type="radio" id="css" name="fav_language" value="female" style="margin-left: 260px;position: relative;bottom:85px">
  <label for="css"style=" position: relative;bottom:85px;font: normal normal normal 26px/32px Poppins;
letter-spacing: 0.52px;
color: #797979;">Female</label><br>
  <input type="radio" id="javascript" name="fav_language" value="other" style="margin-left: 380px;position: relative;bottom:124px">
  <label for="javascript" style="position: relative;bottom:124px;font: normal normal normal 26px/32px Poppins;
letter-spacing: 0.52px;
color: #797979;">Other</label><br>
<button style="background-color: #4285F2 ;text-align: left;
font: normal normal normal 26px/32px Poppins;
letter-spacing: 0.52px;
color: #FFFFFF;border:2px solid #4285F2;position:relative;margin-left: 40px;bottom:90px;">Submit</button>
</form>

</div>



</div>


