<div class="cdn">
    <img src="../../assets/thumb_digital-lync-online-training.png" class="cd">
    <a href ="https://www.classroom">My Class Room</a>
    <img src="../../assets/bellicon.png" class="cnd">
    <img src="../../assets/user.png" class="db">

 <div class="nan">
     <img src="../../assets/clock-time (1).svg" width="40px" style="margin-left: 140px;position:relative;top:17px;">
     <p style="margin-left:200px;position:relative;bottom:17px;font: normal normal normal 32px/32px Poppins;
     letter-spacing: 0px;
     color: #656565;">Your Upcoming Class at 28-04-20 IST 5:30pm</p>
     <button style="background-color:#4285F2;width:200px;position:relative;margin-left:1000px;border:2px solid #4285F2;color:white;height:40px;bottom:70px;">Join Class</button>
 </div>
 <br>
 <br>
 <p style="font: normal normal normal 24px/32px Poppins;
 letter-spacing: 0px;
 color: #1D1D1D;
 opacity: 1;margin-left:60px;">Recorded Classes</p>
 <div class="dnd">
     <p style="font: normal normal normal 28px/32px Poppins;
     letter-spacing: 0px;
     color: #000000;margin-left:20px;
     ">Module 1: UI Design</p>
     <ul style="list-style-type: none;font: normal normal normal 17px/27px Poppins;
     letter-spacing: 0px;
     color: #919191;">
         <li ><img src="../../assets/check.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>
         <li><img src="../../assets/check.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>
         <li><img src="../../assets/chevron-right-circle.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>
         <li><img src="../../assets/chevron-right-circle.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>

     </ul>
     <p style="font: normal normal normal 28px/32px Poppins;
     letter-spacing: 0px;
     color: #000000;margin-left:20px;
     ">Module 2: UI Design</p>
     <ul style="list-style-type: none;font:normal normal normal 17px/27px Poppins;
     letter-spacing: 0px;
     color: #919191;">
        <li><img src="../../assets/chevron-right-circle.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>
        <li><img src="../../assets/chevron-right-circle.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>
        <li><img src="../../assets/chevron-right-circle.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>
        <li><img src="../../assets/chevron-right-circle.svg" width="20px;">1. Lorem ipsum dolor sit amet, consetetur</li>

    </ul>
    <p style="font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;margin-left:20px;
    ">Module 2: UI Design
    <br>
    Module 2: UI Design
</p>

 </div>

 <img src="../../assets/video.png" class="sai">

<ul style="list-style-type: none;font: normal normal normal 28px/32px Poppins;
letter-spacing: 0px;
color: #3D3D3D;
opacity: 1;position: relative;bottom:400px;">
    <li style="margin-left:20px;">Courses Info</li>
    <li style="margin-left:280px;position:relative;bottom:35px;">Resources</li>
    <li style="margin-left:460px;position:relative;bottom:64px;">Assisments</li>
    <li style="margin-left:660px;position:relative;bottom:98px;">Projects</li>
    <li style="margin-left:820px;position:relative;bottom: 120px;">Discuss</li>
    <li style="margin-left:990px;position:relative;bottom:155px;">Feedback</li>
</ul>
<hr style="position:relative;bottom:500px;">

<h1 style=
"font: normal normal medium 28px/32px Poppins;
letter-spacing: 0px;
color: #3E3E3E;position: relative;bottom: 500px;margin-left:80px;">Module 1
<br>
Programming Assignment: Linear Regression
</h1>
<p style="font: normal normal normal 22px/32px Poppins;
letter-spacing: 0px;
color: #3E3E3E;position: relative;bottom:470px;margin-left: 80px;;">Dead Line : Pass this assignment by May 5, 12:00pm IST</p>

<ul style="list-style-type: none;text-align: left;
position:relative;bottom:470px;">
    <li style="margin-left:40px;font: normal normal medium 22px/32px Poppins;
    letter-spacing: 0px;
    color: #3E3E3E;">Instructions</li>
    <li style="margin-left: 300px;position:relative;bottom:20px;font: normal normal medium 22px/32px Poppins;">View Solution</li>
    <hr>
</ul>
<p style=" font: normal normal medium 22px/32px Poppins;
letter-spacing: 0px;
color: #3E3E3E;position: relative;bottom:600px;">
    Answer
</p>


</div>