<div>
    <img src="../../assets/Group 888@2x.png" style="width:700px;height:500px;margin-left:160px;border:2px solid white;">





<!-- <p style="text-align: center;position:relative;bottom:600px;">-->
<div style="border:5px solid white; ">
    <p style="position:relative;bottom: 350px;margin-left: 450px;"> RESET YOUR PASSWORD</p>

    <br>
    <p style="position:relative;bottom: 350px;margin-left: 350px;font-size:10px;
    ">Plese Provide the email address you used when you signed up<br>
        for your OSAcad account

    </p>


    <input type="text" placeholder="Eamil Address"
        style="position:relative;bottom:300px;margin-left:390px;border-top: 10px;border-left: 5px;border-right: 5px;">

    <button class="pm">Send Email</button>
</div>







<div>
    <img src="../../assets/thumb_digital-lync-online-training.png" class="dng">

</div>
</div>