<div class="amd">
    <img src="../../assets/thumb_digital-lync-online-training.png"style="width:300px;height:80px;position:relative;margin-left:20px;top:20px;">
    <ul style="list-style-type:none;">
        <li style="margin-left: 750px;position:relative;bottom:23px;font: normal normal bold 22px/26px Ubuntu;"><a href="https://www.myclassroom.com" style="color:black">my class room</a></li>
            <li style="margin-left: 1000px;position:relative;bottom:45px;"><img src="../../assets/bellicon.png" width="25"height="26"/></li>
            <li style="margin-left: 1100px;position:relative;bottom:76px;"><img src="../../assets/user.png" width="25"height="26"/></li> 
    </ul>
    <div class="cmd">
       <h1 style="position:relative;top:20px;margin-left: 40px;">Your Upcoming Class at 28-04-20 IST 5:30pm</h1>
       <button class="sss">Join Class</button>
    </div>
    <br>
    <p class="ddd">Assisments</p>
    <hr>
    <p style="color: #464646;height:40px;position:relative;top:20px;font-size:28px;
    ">Question 1:<br>

         A front-end developer works with languages like</p>
         <br><br>
         <br>

         <form></form>
             <p  class="one" >
            <input type="checkbox" id="vehicle1" name="vehicle1"  >
            <label for="vehicle1"> HTML,CSS and PHP</label><br>
            </p>
            <p class="two">
              <input type="checkbox" id="vehicle2" name="vehicle2" >
            <label for="vehicle2"> HTML,CSS and swift</label><br>
            </p>
            <p class="three">

        
           
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> HTML,CSS and Javascript</label><br><br>
            </p>
            <br>

            <p style="margin-left:750px;color: #717171;font: normal normal normal 28px/32px Poppins;
            ">Skip Question</p>
            <button style="margin-left:1000px;position:relative;bottom:50px;;color:#FFFFFF ;border:2px solid #4285F2;background-color:#4285F2;font: normal normal bold 28px/32px Poppins;">Check Answers</button>
    
    <ul style="list-style-type: none;margin-left:30px;font: normal normal normal 28px/32px Poppins;
    letter-spacing: 0px;
    color: #484848;">
        <li> Course Info</li>
        <li style="margin-left: 200px;position:relative;bottom:35px;">Resources</li>
        <li style="margin-left: 390px;position:relative;bottom:65px;">Assisments</li>
        <li style="margin-left: 570px;position:relative;bottom:97px;">Projects</li>
        <li style="margin-left: 740px;position:relative;bottom:129px;">Discuss</li>
        <li style="margin-left: 890px;position:relative;bottom:159px;">Feedback</li>
    </ul>
    <hr style="position:relative;bottom:120px;">

    <ul style="list-style-type: none;margin-left:20px;position:relative;bottom:70px;">

        <li style="font: normal normal bold 28px/32px Ubuntu;
        letter-spacing: 0px;
        color: #757575;">
            About This Course
            
        </li><br><br>
       
        <li>Course Name: UI/UX</li>
        <li>Start Course: 28-04-2020</li>
        <li>Duration: 20hr</li>
        <li>Modules: 10</li>
        <li>Prerequisities: No</li>
        <li>Skill Level: Beginner</li>
    </ul>
        </div>
    
    
    