<div class="png">
    <img src="../../assets/thumb_digital-lync-online-training.png" width="270px" height="120px" style="margin-left:80px;position:relative;top:40px">
    <img src="../../assets/user.png" width="40px" height="40px" class="dng">
    <h1 class="cdn">Welcome Abdul Kabeer</h1>
    <p style="text-align: center;color:black;position:relative;top:160px;font: normal normal medium 72px/100px Poppins;

    ">Browse Programs</p>



</div>
<div style="background-color: #FFFFFF;width:1300px;height:400px;margin-left: 100px;;"></div>

<img src="../../assets/Courses.png" width="700px" height="600px" style="margin-left: 400px;position:relative;bottom:700px;">
