<div class="mail" style="background-image: url('../../assets/Group\ 886.svg');">
    <img src="../../assets/thumb_digital-lync-online-training.png" class="cdn">

    <div class="amd">
        <h1 style="text-align: center;position: relative;top:60px;;">CHECK YOUR MAIL</h1>
        <br>
        <br>
        <p style="margin-left: 50px;color: #515151;position:relative;top:40px;font-size: 25px;
        ">An email with password reset instructions has been sent to<br></p>
             <p style=text-align:center;position:relative;top:40px;font-size:25px;color:#515151; 
             >our email address</p>

    </div>

</div>