
<div class="asd" style="background-image: url('../../assets/group.png');" >


<img src="../../assets/thumb_digital-lync-online-training.png" style="width:300px;height:150px;position:relative;margin-left:640px;"  > 
<br>
<img src="../../assets/hore.svg" style="width:200px;height:150px;position:relative;margin-left:700px">
<img src="../../assets/tickmark.png" height="30">

<h1 >Welcome to the world of cyber security</h1>
<br>

<div style="background-color:white;margin-left: 100px;position:relative;width:1400px;height:200px;top:60px;">
<img src="../../assets/aws1.jpg" width="250px" height="200px;">
<h2 style="margin-left:300px;position:relative;bottom:130px">Aws</h2>
<button style="margin-left:1090px;position:relative;
font: normal normal bold 21px/25px Ubuntu;
bottom:180px;width:250px;background-color: #4285F2 ; height:50px;
padding:2px;color:#FFFFFF;border: 2px solid #4285F2;">
Start Course<img src="../../assets/arrow-right.svg" style="position:relative; margin-left:90px;" width="40px" height="40px">
</button>

</div>
<button style="margin-left: 770px;position:relative;top:130px;background-color:white;color: #555555;padding:15px;font: normal normal bold 22px/26px Ubuntu;border:2px solid yellow;

">My class room <img src="../../assets/arrow-right.svg" width="40px" height="40px"></button>
</div>


